* {
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(120deg, rgb(124, 124, 124), rgb(132, 132, 132), rgb(150, 150, 150), rgb(170, 170, 170));
    background-attachment: fixed;
    font-size: 110%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(48, 48, 48);
}

/* Header */

header {
    display: block;
    width: auto;
    position: sticky;
    top: 0;
    z-index: 100;
}

#logo {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    margin-bottom: -.7rem;
    margin-top: -.3rem;
    margin-left: 2rem;
    transition: .5s;
}

.smol {
  width: 150px; 
}

.big {
  width: 400px;
}

#contactlogo {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 150px;
  margin-bottom: -.7rem;
  margin-top: -.3rem;
  margin-left: 2rem;
  transition: .5s;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    padding-top: 0;
    width: 100vw;
    height: 4.5rem;
    font-size: 1.2rem;
    background-image: linear-gradient(120deg, rgb(158, 158, 158), rgb(180, 180, 180));
    border-bottom: 2px rgb(224, 194, 22) solid;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.75);
}

.other-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.other-nav a {
    display: block;
    align-self: stretch;
    padding: 1.8rem 1.8rem .3rem 1rem;
    margin: 0rem 0rem 0rem -.3rem;
    text-decoration: none;
    color:rgb(224, 194, 22);
    text-shadow: 2px 1px 3px black;
    background-image: linear-gradient(120deg, rgba(183, 183, 183, 0.6), rgba(188, 188, 188, 0.7), rgba(183, 183, 183, 0.5), rgba(183, 183, 183, 0.4), rgba(178, 178, 178, 0.1));
    border-left: 5px rgb(224, 194, 22) solid;
    border-radius: 0px 0px 0px 8px;
}

.other-nav a:hover {
    background-image: linear-gradient(to right, rgb(224, 194, 22), rgb(224, 194, 22), rgba(224, 194, 22, 0.76), rgba(224, 194, 22, 0.062));
    color: rgb(50, 50, 50);
    text-shadow: 2px 1px 3px gray;
}

.navbar a.icon {
    display: none;
    padding: 1rem;
    text-decoration: none;
    color:rgb(224, 194, 22);
    text-shadow: 2px 1px 3px black;
    font-size: 1.75rem;
}

/* General Content */

.mid-section {
    margin-top: .5rem;
    min-height: 50vh;
    max-height: fit-content;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

p {
    text-align: justify;
}

p a {
    text-decoration: none;
    color:rgb(224, 194, 22);
    text-shadow: 1px 1px 2px black;
}

p a:hover {
    text-decoration: underline;
    color: rgb(70, 70, 70);
    text-shadow: 1px 1px 2px rgb(224, 194, 22);
}

/* Landing Section */

.main-header {
    margin: 0 0 -7rem 0;
    z-index: 2;
    padding: 1.5rem 1rem 1.5rem 1rem;
    width: 70%;
    max-width: 600px;
    align-self: flex-end;

    font-size: 3rem;
    font-weight: bold;
    color: rgb(48, 48, 48);
    text-shadow: 2px 1px 3px rgb(100, 100, 100);
    text-align: center;
    
    background-image: linear-gradient(to top right, rgba(224, 194, 22, 1), rgba(224, 194, 22, 0.95), rgba(224, 194, 22, 0.8), rgba(224, 194, 22, 0.5));
}

.art-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 1rem;
}

.large-pic-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1150px;
    height: fit-content;
    max-height: 1080px;
    overflow: hidden;
}

.main-pic {
    height: auto;
    width: 100vw;
    max-width: 1080px;
}

/* Article sections */

.art-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0rem 1rem 2rem 1rem;
    width: 100vw;
    max-width: 1000px;
}

.right-pic-solo {
    height: auto;
    width: 45%;
    max-width: 600px;
}

.right-pic-container {
    display: none;
}

.section-card {
    margin: 1rem 0rem 1rem 0rem;
    padding: 0 .5rem;
    z-index: 2;
    min-height: 400px;
}

.section-card p {
    margin: 0;
    padding: 1rem 1rem 2rem 1rem;
    background-image: linear-gradient(120deg, rgba(183, 183, 183, 0.6), rgba(188, 188, 188, 0.7), rgba(183, 183, 183, 0.5), rgba(183, 183, 183, 0.4), rgba(178, 178, 178, 0.3));
    max-width: 500px;
}

.section-card ul {
    margin: 0;
    padding: 1rem 1rem 2rem 1rem;
    background-image: linear-gradient(120deg, rgba(183, 183, 183, 0.6), rgba(188, 188, 188, 0.7), rgba(183, 183, 183, 0.5), rgba(183, 183, 183, 0.4), rgba(178, 178, 178, 0.3));
    width: 40vw;
    max-width: 500px;
}

.section-header-left {
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: 0 -2.5rem 0 -2.5rem;
    background-image: linear-gradient(to top right, rgba(224, 194, 22, 1), rgba(224, 194, 22, 0.95), rgba(224, 194, 22, 0.8), rgba(224, 194, 22, 0.5));
}

.section-header-center {
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: 0 -1rem 0 -1rem;
    background-image: linear-gradient(to top right, rgba(224, 194, 22, 1), rgba(224, 194, 22, 0.95), rgba(224, 194, 22, 0.8), rgba(224, 194, 22, 0.5));
}


.center-pic {
    height: auto;
    max-width: 75%;
    border-radius: 15px;
}

/* Contact */

.art-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0rem 1rem 2rem 1rem;
    width: 100vw;
    max-width: 1200px;
}

.contact-info {
    list-style: none;
    margin-left: 0rem;
    text-align: center;
    padding: auto 4rem auto 4rem;
}

.map {
    width: 50%;
    max-width: 500px;
    height: 500px;
    margin: auto;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    margin-top: .25rem;
    background-image: linear-gradient(120deg, rgb(158, 158, 158), rgb(180, 180, 180));
    width: 100vw;
    border-top: 3px rgb(224, 194, 22) solid;
}

.copyright-login {
    display: flex;
    justify-content: center;
    color:rgb(224, 194, 22);
    font-size: .8rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.big-vert-line {
    font-weight: normal;
    font-size: 1.5rem;
    margin: .15rem .5rem auto .5rem;
}

footer p {
    padding-left: .5rem;
    padding-right: .5rem;
}

footer a {
    text-decoration: none;
    color:rgb(224, 194, 22);
}

footer a:hover {
    text-decoration: underline;
    color: rgb(70, 70, 70);
    text-shadow: 1px 1px 2px rgb(224, 194, 22);

}

/* special split point for fitting the logo between full size screen and mobile view  */
@media only screen and (max-width: 1000px) {
  .big {
    width: 275px;
  }
}


@media only screen and (max-width: 740px) { 

/* Header */

    header {
        display: block;
        width: auto;
        position: sticky;
        top: 0;
    }

    .navbar {
        display: block;
        min-height: 4rem;
        height: auto;
    }

    .other-nav {
        display: none;
    }

    #logo {
        height: fit-content;
        width: 100px;
        margin-right: 0;
        margin-top: 0;
        margin-top: -.25rem;
        margin-left: 1rem;
    }

    #contactlogo {
        height: fit-content;
        width: 100px;
        margin-right: 0;
        margin-top: 0;
        margin-top: -.25rem;
        margin-left: 1rem;
    }

    .other-nav a {
        font-size: 1.5rem;
        padding: .5rem 1rem .5rem .5rem;
        background-image: none;
        text-align: right;
    }

    .navbar a.icon {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
    }

    .responsive .other-nav {
        display: block;
        padding-top: 3.5rem;
    }

/* Content */

    .mid-section {
        margin-top: 0;
    }

    .main-header {
        font-size: 2rem;
        margin: 0;
        width: 100%;
        max-width: none;
    }

    .section-header-left {
        padding: .5rem 1.5rem .5rem .5rem;
        margin: 0 -8rem 0 0rem;
        max-width: 100vw;

        /* text-align: left; */
    }

    .art-left {
        padding: 0rem 0rem 2rem 0rem;
    }

    .section-card {
        width: 65vw;
        padding: 0;
        margin: .5rem 0 0 0rem;
        align-self: stretch;
        /* min-height: none; */
    }

    .right-pic-solo {
        display: none;
    }

    .right-pic-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 35vw;
        overflow: hidden;
        height: 450px;
    }

    .right-pic {
        width: auto;
        height: 500px;
        margin-right: -1rem;
    }

/* contact info */

    .art-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0rem 1rem 2rem 1rem;
        width: 100vw;
        max-width: 1000px;
    }

    .art-contact .section-card {
        min-height: 300px;
        align-self: center;
        width: 90vw;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: stretch;
    }

    .section-card ul {
        width: 100%;
        max-width: none;
    }

    .map {
        width: 100%;
        height: 400px;
    }

/* Footer */

    .copyright-login {
        font-size: .6rem;
    }
    
    .copyright-login {
        font-size: .5rem;
    }
    
    .big-vert-line {
        font-weight: normal;
        font-size: 1.2rem;
        margin-top: 0rem;
        margin-bottom: auto;
    }
    
    footer p {
        padding-left: 0;
        padding-right: 0;
    }

}